body {
    font-family: Arial, sans-serif;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    margin-top: 5px;
    margin-bottom: 10px;
}

#id{
    align-items: right;
}
