body {
    font-family: Arial, sans-serif;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    margin-top: 5px;
    margin-bottom: 10px;
}

#id{
    align-items: right;
}
/* Alinear el enlace al perfil a la derecha */
.navbar-nav {
    margin-left: auto; /* Mueve la lista de navegación a la derecha */
}

.navbar-brand,
.navbar-nav {
    margin-right: 10px; /* Espacio entre la marca del Navbar y la lista de navegación */
}



